<html>

  <head>
    <title>Directives & Google Maps</title>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="angular.js"></script> 
    <script src="app.js"></script> 
    <link rel="stylesheet" href="app.css"/>
  </head>

  <body ng-app="app" ng-controller="Ctrl">

    <div class="repeat" ng-repeat="map in maps">

      <div style="margin-right:auto; margin-right:0px;">
        <gmaps center="map.center" zoom="map.zoom" style="height: 500px"></gmaps>
      </div>    

      <div class="data">

        <p>
          <label>Latitude</label>
          <input type="number" ng-model = "map.center.lat"/>
        </p>

        <p>
          <label>Longitude</label>
          <input type="number"  ng-model = "map.center.lng"/>
        </p>

        <p>
          <label>Zoom</label>
          <input type="number" ng-model = "map.zoom"/>
        </p>

      </div>

    </div>


    <div class="repeat" ng-repeat="map in maps">

      <div style="margin-right:auto; margin-right:0px;">
        <gmaps center="map.center" zoom="map.zoom+2" style="height: 500px"></gmaps>
      </div>    

    </div>

  </body>
</html> 
