
<div style="height : 300px ;overflow:auto ">
<div class="row" style="">

      <div class="col-md-6" style="margin: 15px 0 0;">
          <div class="panel panel-default">
                <div class="panel-heading">
                      <h3 class="panel-title">Filtres</h3>
                </div>
                <div class="panel-body">
                <fieldset>

                  <div class='col-md-3'>
              Recherche: <input type="search" class="form-control" ng-model="search.title"> 
                  </div>
                  <div class='col-md-3'>
              Prix Min: <input type="number" class="form-control" ng-model="prix.min">
                  </div>
                  <div class='col-md-3'>
              Prix Max: <input type="number" class="form-control" ng-model="prix.max">
                  </div>
                  <div class='col-md-3'>
                  Selection: <select class="form-control" ng-model="selection" 
                            ng-options="critere as critere.libelle for critere in criteres">
                    </select>
                  </div>
                </fieldset>
                </div>
          </div>

      </div>

      <div class="col-md-6" style="margin: 15px 0 0;">
          <div ng-include="'partials/stats.html'"></div>
      </div>
</div>

</div>




<div style="height : 400px ;overflow:auto ">

  <table class="table table-striped table-hover">
      <tbody>
      <tr ng-repeat="livre in filterCatalog = (livres | filter: search | orderBy: selection.property:selection.reverse) | interval:prix.min:prix.max ">
        <td>
            <a ng-href="#/detail/{{livre._id.$oid}}">{{livre.title}}<br>
        </td>
        <td>
          <button type="button" ng-click='panier.populePanier(livre)' class="btn btn-success">add</button>
        </td>
        <td>
          <div>
              <img ng-src={{livre.img}} class="img-thumbnail" alt={{livre.price}} >
                  {{livre.price}}
          </div>
        </td>
        <td>
          <span stars="livre.rating"></span>
        </td>
        </a>
        </td>
        </tr>
      </tbody>
  </table>

</div>
